@media only screen and (max-width: 480px) {
    article hgroup div {
        flex-direction: column;
    }
    article hgroup div img {
        margin-left: auto;
        margin-right: auto;
    }
  }
